@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

:root{
  --cor-preta: #212121;
  --font-primaria: "Montserrat", sans-serif;
  --font-secundaria: "Prata", serif;
}



body {
  
  color: var(--cor-preta);
  font-family:var(--font-primaria);
  font-size: 16px;
  font-weight: 400;
}


